# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.optrpt
*.obj
*.advias2
*.exe
mic/nbody/nbody/nbody-seq-opt-align-tile.ilk
*.pdb
*.opensdf
mic/nbody/nbody.sdf
*.log
mic/nbody/nbody/My Advisor Results - nbody/e000/hs009/config/collection.cfg
*.ilk
mic/nbody/nbody-tree/My Amplifier XE Results - nbody-tree/My Amplifier XE Results - nbody-tree.amplxeproj
mic/nbody/nbody/Debug/nbody.tlog/unsuccessfulbuild
*.amplxeproj
